@use '@/css/colors';

@import 'note.scss';
@import 'pagelabel.scss';

.readernotebar {
    overflow-y:hidden;
    height: auto;
    max-width: 40vw;

    margin-left: -3px;
    padding-right: 4em;
    //width: -webkit-fill-available;
    flex-grow: 2;
}

.readernotebar::-webkit-scrollbar {
    display:none;
}

.readernotebar > .pagelabelcontainer {}
