@use 'colors';
@import "styledefaults.scss";

//components
@import "scrollbars.scss";
@import "slider.scss";

@import "pageheader.scss";
@import "pagefooter.scss";
@import "sociallink.scss";
@import "contentlist.scss";


//technical
@import "errorpage.scss";

html {
  overflow: hidden;

  height: -webkit-fill-available;

  background: colors.$bg-darkest;
  color: colors.$text-primary;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: -webkit-fill-available;

  margin: 0px;
}

#app {
  height: -webkit-fill-available;

  padding-top: 0em;
}

.fullpage {
  height: -webkit-fill-available;
  min-width: 40em;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1000px) {
  .fullpage {
    width: 70vw;
    max-width: 70em;

    padding-top: 1.5em;
  }
}