@use 'colors';

.menuitem.inputmenuitem {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    width: -webkit-fill-available;

    padding: 0.6em 2em;

    color: colors.$acc-white;
    border-left-color: colors.$acc-primary;
}

.menuitem.inputmenuitem > input {
    height: 2em;
    width: -webkit-fill-available;

    margin: 0em 2em;
    margin-right: 4em;
    padding: 0.5em 1em;
    
    background: colors.$bg-darkest;
    color: colors.$acc-white;

    border: solid 1px colors.$acc-bright;
    border-radius: 5px;
}