@use 'colors';

.bh-mediacard {
    flex: 1 0 20%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-basis: 20em;
    flex-grow: 1.5;

    margin: 0.5em;
    padding: 1em;

    background: colors.$grad-bg-dark-right;

    border: solid 1px colors.$acc-bright;
    border-radius: 7px;

    transition: border-color 0.25s ease-in-out;
}

.bh-mediacard:hover {
    border-color: colors.$acc-white;
}

.bh-mediacard > img {
    display: block;
    object-fit: scale-down;

    background: colors.$grad-bg-dark-left;

    padding: 1em 0em;
    padding-left: 1em;
    margin: -1em 0em;
    margin-left: -1em;

    //width: 10em;
    max-height: 15em;
    
}

.bh-mediacard > .details {
    padding: 0.5em;
    padding-left: 1.5em;
}

.bh-mediacard > .details > p {
    margin: 0px;
}

.bh-mediacard > .details > p.title {
    margin-bottom: 0em;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
}

.bh-mediacard > .details > p.type {
    margin-top: 0em;
    margin-bottom: 0em;

    color: colors.$acc-bright;
    
    font-size: small;
}

.bh-mediacard > .details > p.desc {
    margin-top: 1em;
    margin-bottom: 0em;
    
    font-size: normal;
}