@use 'colors'; 

@import "accountmenuitem.scss";
@import "selectmenuitem.scss";
@import "labelmenuitem.scss";

.menuitem {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-width: 15em;

    padding: 0.25em;
    padding-left: 2em;
    padding-right: 2em;
    
    background: colors.$bg-darkest;
    
    border-left: solid 3px colors.$acc-gray;
}