@use 'colors';

@import "accountmenuitem.scss";
@import "selectmenuitem.scss";

.menuitem {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0.5em;
    padding-left: 1em;
    padding-right: 2em;
    
    background: colors.$bg-darkest;
    
    border-left: solid 3px colors.$acc-gray;
}