@use 'colors';

.notecard.notetypedefinition > .embedframe {
    overflow-y: auto;
    
    width: fit-content;
    max-height: 50vh;
}

.notecard.notetypedefinition > .embedframe > .dictionaryembed {
    padding: 1em;
}

.embedframe > .dictionaryembed > div {
    display: flex;
    flex-direction: column;
}

.embedframe > .dictionaryembed > div > * {
    //align-items: baseline;
}

.dictionaryembed > div > .emcard {
    padding: 0.5em 0em;
}

.dictionaryembed > div > .term {
    display: flex;
    flex-direction: row;

    padding-bottom: 0em; 
}

.dictionaryembed > div > .term > .word {
    font-size: xx-large;
}

.dictionaryembed > div > .term > .phonetic {
    margin: 0em 0.5em;

    color: colors.$acc-bright;
    font-size: large;
}

.dictionaryembed > div > .phonetics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
    padding: 0em;

    // border: solid 1px colors.$acc-bright;
    // border-radius: 5px;
}

.dictionaryembed > div > .phonetics > div {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.dictionaryembed > div > .phonetics > .audioplayer {
    margin-right: 0.8em;
}

.dictionaryembed > div > .phonetics > div > .source {
    font-size: small;
}

.dictionaryembed > div > .phonetics > div > .license {
    font-size: small;
}

.dictionaryembed > div > .meaning {

}

.meaning > .partofspeech {
    color: colors.$acc-bright;

    font-size: small;
}

.meaning > .definitions {

}

.meaning > .definitions > div {
    margin-bottom: 0.5em;
}

.meaning > .definitions > div > .text {
    
}

.definitions > div > .text > .label {
    display: none;
}

.definitions > div > .text > .value {
    //font-style: italic;
}

.definitions > div > .synonyms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: 1em;
}

.definitions > div > .synonyms > .label {
    font-size: small;
    color: colors.$acc-bright;
}
.definitions > div > .synonyms > .value {
    margin: 0px 1em;
    font-size: small;
}

.definitions > div > .antonyms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: 1em;
}

.definitions > div > .antonyms > .label {
    font-size: small;
    color: colors.$acc-bright;
}
.definitions > div > .antonyms > .value {
    margin: 0px 1em;
    font-size: small;
}

.licensecard > .license {
    font-size: small;
}

div > .sources {
    display: flex;
    flex-direction: column;
}

div > .sources > .sourceUrl {
    font-size: small;
}