@use 'colors';

@import "readermenuheader.scss";
@import "panelswitcher.scss";

@import "labelmenuitem.scss";
@import "slidermenuitem.scss";
@import "selectmenuitem.scss";
@import "buttonmenuitem.scss";
@import "inputmenuitem.scss";

.readermenu {
    display: flex;
    flex-direction: row;

    width: fit-content;
    height: 100vh;

    //float:right;
    position: fixed;
    top: 0px;
    right: 0px;

    background: colors.$bg-dark;

    //transition: width 0.5s ease-in-out;
}

.readermenu > .collapsebtn {
    width: 1em;

    background: colors.$acc-dark;    
    color: colors.$acc-primary;

    font-size: large;

    border: solid 1px colors.$acc-dull;
    border-right: none;

    transition: width 0.5s ease-in-out, background-color 0.25s ease-in-out;
}

.readermenu > .collapsebtn.collapsed {
    width: 2em;
}

.readermenu > .collapsebtn:hover {
    background-color: colors.$acc-white;
}

.readermenu > .contentarea {
    overflow: hidden;
    overflow-y: auto;
    
    width: 20em;

    border-left: solid 2px colors.$acc-primary;

    transition: width 0.5s ease-in-out;
}

.readermenu > .contentarea.collapsed {
    width: 0vw;
}

.readermenu > .contentarea.collapsed::after {
    opacity: hidden;
}