@use '@/css/colors';

.sharebutton {
    width: 2em;
    height: 3em;

    margin: 0em;
    margin-right: 0.6em;

    color: colors.$acc-primary;
    background: none;

    border: none;
    transition: color 0.2s ease-out;
}

.sharebutton:hover {
    color: colors.$acc-white;
}

.sharebutton.active {
    color: colors.$acc-white !important;
}
