@use 'colors';

div {
    border-width: 3px;
    border-color: colors.$acc-primary;
}

a {
    color: colors.$acc-bright;
    text-decoration: none;
}

.bh-wordmark {
    font-family: Georgia, 'Times New Roman', Times, serif;
}