@use '@/css/colors';

.account>.accName {
    margin: 0em 0.3em;

    text-wrap: nowrap;
    font-size: medium;
    
    color: colors.$acc-bright
}

.accountarea {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.7em;
    justify-content: end;

    margin-top: -0.5em;
    margin-left: 3em;
}

.accountarea>.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-between;
    gap: 0.4em;

    //margin: 1em 0em;
    //padding: 0em 1em;
}

.accountarea>.activearea {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;

    height: fit-content;
    width: 8.5em;
}

.activearea>.iconarea {
    overflow: hidden;
    display:flex;
    justify-content: center;

    height: auto;
    width: 0em;

    transition: width 0.5s ease-in-out;
}

.activearea>.iconarea.expand {
    width: 3em;
}

.activearea>.iconarea>button {
    height: 100%;

    background: none;
    border-color: colors.$acc-primary;
    border-left: 0;
    border-right: 0
}
.activearea>.iconarea>button:hover {
    border-color: colors.$acc-white;
}

.signoutbtn,
.loginbtn {
    width: -webkit-fill-available;
    font-size: x-small;
    //margin: 0em 1em;
}