@use '@/css/colors';

.multiicon {
    display: flex;
    flex-direction:column;

    max-height: 2em;
    max-width: 2em;
    height: 2em;
    width: 2em;
    min-height: 2em;
    min-width: 2em;
    font-size: 1.5rem;
}

.multiicon>* {
    position:relative;
}

.multiicon>.primary {
    top: 0;
    left: 0;

    // min-width: 100%;
    // min-height: 100%;

    // margin-bottom: -100%;
}

.multiicon>.bg.primary {
    //margin-top: -50%;
    margin-bottom: -115%;
}

.multiicon>.left {
    top: 0;
    left: 0;

    // margin-left: 5%;
    margin-top: -20%;
    // margin-bottom:-60%;

    min-width: 70%;
    min-height: 70%;
    max-width: 70%;
    max-height: 70%;
}

.multiicon>.bg.left {
    margin-top:-80%;
    margin-bottom: -50%;
}

.multiicon>.right {
    align-self: self-end;
    margin-right: 5%;
    margin-top: -80%;
    margin-bottom: 20%;

    min-width: 60%;
    min-height: 60%;
    max-width: 60%;
    max-height: 60%;
}

.multiicon>*>* {
    width: 100% !important;
    height: 100% !important;
}

.multiicon>.bg>* {
    stroke: colors.$bg-darkest;
    stroke-width: 15%;
    //box-shadow: 0px 0px 5px colors.$bg-darkest;
}