@use '@/css/colors';

.pagesection {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    flex-wrap: wrap;

    margin: 0 auto;
    margin-top: 2em;
    padding: 1em 4vw;

    //background: linear-gradient(to left, #0000, #000a, #000a, #0000)

    //border: solid 1px colors.$acc-bright;
}

.pagesection>.title {
    margin: 0;
    margin-bottom: 0.5em;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;

    text-shadow: 0px 5px 0px colors.$acc-dark;

    user-select: none;
}

.pagesection>.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-items: center;
    place-content: center;
    gap: 1em 2em;

}

.pagesection>.row>.bg {
    width: fit-content;
    padding: 1em;
    background: linear-gradient(to bottom, #0000, #0005, #0005, #0000);
}

.pagesection>.text {
    max-width: 50em;
}