@use '@/css/colors';

.discordicon {
    height: 3rem;
    width: 3rem;
}

.discordicon>path {
    fill: colors.$acc-white;

    transform: translateY(0.3em);

    //stroke: colors.$acc-white;
    //stroke-width: 1.05px;
}