@use '@/css/colors';
@import '@/css/styledefaults.scss';

html {
  overflow: hidden;

  height: -webkit-fill-available;

  background: colors.$bg-darkest;
  color: colors.$text-primary;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: -webkit-fill-available;

  margin: 0px;
}

#app {
  height: -webkit-fill-available;

  padding-top: 0em;
}

.fullpage {
  height: -webkit-fill-available;
  min-width: 40em;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fullpage > .bh-contenttitle > h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#contentlist\/sort {
  background: colors.$acc-dull;
}

#contentlist\/sort > .bar {
  background: colors.$acc-bright;
}

@media screen and (min-width: 1000px) {
  .fullpage {
    width: 70vw;
    max-width: 70em;

    padding-top: 1.5em;
  }
}