@use '@/css/colors';

.menuitem.accountmenuitem {
    justify-content: center;

    height: fit-content;

    margin-top: 1px;

    background: colors.$bg-darkest;
    color: colors.$acc-bright;

    border-color: colors.$acc-dull;
}