@use '@/css/colors';

.menuitem.bh-account {
    justify-content: center;

    margin-top: 1px;

    background: colors.$bg-darkest;
    color: colors.$acc-bright;

    border-color: colors.$acc-dull;
}

.bh-account > svg {
    width: 1.4em;
    height: 1.4em;
}

.bh-account > .accName {
    margin-left: 0.5em;

    font-size: large;
}