@use '@/css/colors'; 

.menuitem {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-width: 15em;

    padding: 0.25em;
    padding-left: 2em;
    padding-right: 2em;
    
    background: colors.$bg-darkest;
    
    border-left: solid 3px colors.$acc-gray;
}

.menuitem.disabled {
    color: colors.$acc-gray !important;
    background: colors.$bg-darkest !important;

    border-color: colors.$acc-gray !important;

    pointer-events: none !important;
}

.menuitem.disabled>*>* {
    color: colors.$acc-gray !important;
    background: colors.$bg-darkest !important;

    border-color: colors.$acc-gray !important;

    pointer-events: none !important;
}