@use '@/css/colors';

.readermenuheader {
    display: flex;
    flex-direction: row;

    justify-content: center;

    padding-top: 1em;
    padding-bottom: 1em;

    background: colors.$grad-bg-dark-top;
    background-position-y: -100px;
    background-repeat: no-repeat;

    transition: background-position-y 0.25s ease-in-out
}

.readermenuheader:hover {
    background-position-y: 0px;
}

.readermenuheader > svg {
    width: 3em;
    height: 3em;

    margin-right: 0.5em;
}

.readermenuheader > .bh-wordmark {
    font-size: xx-large;
}