@use '@/css/colors';

.menuitem.slidermenuitem {
    justify-content: space-between;

    padding-top: 0.6em;
    padding-bottom: 0.6em;

    border-left-color: colors.$acc-primary;
}

.menuitem.slidermenuitem.disabled>.sliderwrapper>*>* {
    color: colors.$acc-gray;
    background: colors.$acc-gray;

    border-color: colors.$acc-gray;
}